<section class="p-5 text-center mt-3" id="advantages">
    <!-- biar ngasih margin -->
    <div class="container">

      <h1>Keuntungan menggunakan News-Axis</h1>

      <!-- naro content di tengah -->
      <div class="d-sm-flex align-items-center justify-content">
        
        <!-- list -->
        <div class="row mt-4">

          <!-- lebih informatif -->
          <div class="col-sm-12 col-md-4">
            <img
              src="https://stockbit.com/assets/template/x1.svg"
              alt=""
              class="img-fluid w-75"
            />
            <div>
              <h2>Lebih Informatif</h2>
              <p class="load my-4">
                Dapatkan ide investasi yang baik dari hasil diskusi dan analisa saham investor yang berpengalaman.
              </p>
            </div>
          </div>

          <!-- lebih cepat -->
          <div class="col-sm-12 col-md-4">
            <img
              src="https://stockbit.com/assets/template/x2.svg"
              alt=""
              class="img-fluid w-75"
            />
            <div>
              <h2>Lebih Cepat</h2>
              <p class="load my-4">
                Informasi tersebar lebih cepat dengan bantuan komunitas News-Axis. Bersama News-Axis, kamu akan lebih terupdate dengan informasi terkini.
              </p>
            </div>
          </div>

          <!-- lebih seru -->
          <div class="col-sm-12 col-md-4">
            <img
              src="https://stockbit.com/assets/template/x3.svg"
              alt=""
              class="img-fluid w-75"
            />
            <div>
              <h2>Lebih Seru</h2>
              <p class="load my-4">
                Investasi jadi lebih seru bareng teman dan keluarga kamu. Bagikan strategi kamu untuk saling melengkapi dan nikmati hasilnya bersama.
              </p>
            </div>
          </div>

        </div>
      </div>

      
    </div>
  
  </section>