<section class="mt-5 p-5 text-start" id="banner">
  <!-- biar ngasih margin -->
  <div class="container">
    <!-- naro content di tengah -->
    <div class="d-sm-flex align-items-center justify-content">
      <div>
        <h2>
          Artikel <span class="text-success"
            >Sukses Investasi</span
          >
        </h2>
        <p>
            Cuplikan berita pasar saham terhangat dikirim setiap hari ke email kamu
        </p>

        <div class="input-group news-input mt-4">
          <input type="text" class="form-control" placeholder="Masukkan Email Anda" />
          <button class="btn btn-success btn-lg" type="button">Kirim</button>
        </div>
      </div>
      <img
        src="../../../../assets/images/banner-saham.jpg"
        alt=""
        class="img-fluid w-50 d-none d-sm-block"
      />
    </div>
  </div>
</section>
