<section class="mt-5 p-5 text-start" id="info">
    <!-- biar ngasih margin -->
    <div class="container">
      <!-- naro content di tengah -->
      <div class="d-sm-flex align-items-center justify-content">
        <div>
          <h1>Informasi Perusahaan</h1>
          <p class="load my-4">
            Berdiri sejak tahun 1990 dengan nama PT Mahakarya Artha Sekuritas dan terdaftar di OJK dengan nomor izin KEP-132/PM/1992, PT Mahakarya Artha Sekuritas terus berkomitmen dalam meningkatkan jumlah investor di Indonesia untuk membantu perekonomian nasional. Pada Desember 2021, PT Mahakarya Artha Sekuritas telah resmi diakuisisi dan berganti nama menjadi PT News-Axis Sekuritas Digital.
          </p>
          <p>
            Sebagai perusahaan efek yang telah memiliki pengalaman, PT News-Axis Sekuritas Digital berkomitmen untuk terus melakukan inovasi dan memberikan layanan serta pengalaman investasi yang mudah, aman dan terpercaya bagi investor melalui teknologi kelas dunia untuk dapat memfasilitasi masyarakat dalam berinvestasi secara mudah di pasar modal Indonesia melalui layanan perdagangan saham online yang modern. Melalui aplikasi investasi sosial News-Axis investor dapat berdiskusi sekaligus melakukan transaksi saham secara daring. Pembukaan akun rekening sekuritas juga dapat dilakukan melalui aplikasi News-Axis yang dapat diunduh melalui Playstore dan Appstore.
          </p>
        </div>
      </div>
    </div>
  
  </section>