<section class="bg-success text-light p-5" id="service">
    <!-- biar ngasih margin -->
    <div class="container">
      <!-- naro content di tengah -->
      <div class="d-sm-flex align-items-center justify-content">
        <img
          src="../../../../assets/images/contoh/computer.png"
          alt=""
          class="img-fluid w-50 d-none d-sm-block"
        />
        <div class="text-center">
            <h3>Biaya Komisi</h3>
            <div class="row mt-4">
                <div class="col-6">
                    <p class="h3">Harga Beli</p>
                    <p class="h1">0,10%</p>
                </div>
                <div class="col-6">
                    <p class="h3">Harga Jual</p>
                    <p class="h1">0,20%</p>
                </div>
            </div>
            <p class="load my-4">
              Kami ber
            </p>
            <a href="" class="btn btn-primary">
              <i class="bi bi-chevron-right"></i>Read More
            </a>
          </div>
      </div>
    </div>
  
  </section>