<section class="bg-success text-light p-5 text-center" id="vision">
    
    <!-- biar ngasih margin -->
    <div class="container">

        <h1>Visi & Misi Perusahaan</h1>
  
        <!-- naro content di tengah -->
        <div class="d-sm-flex align-items-center justify-content">
          
          <!-- list -->
          <div class="row mt-4">
  
            <!-- visi -->
            <div class="col-sm-12 col-md-6">
              <img
              src="https://assets-nextjs.stockbit.com/images/vision.svg"
                alt=""
                class="img-fluid w-75"
              />
              <div>
                <h2>Visi</h2>
                <p class="load my-4">
                    Visi kami adalah menjadi penasihat, perantara, dan rekanan yang terpercaya untuk membantu nasabah dalam menentukan strategi finansial di pasar modal indonesia. News-Axis Sekuritas Digital berkomitmen untuk memberikan layanan yang handal dan konsisten untuk kepentingan nasabah.
                </p>
              </div>
            </div>
  
            <!-- misi -->
            <div class="col-sm-12 col-md-6">
              <img
              src="https://assets-nextjs.stockbit.com/images/mission.svg"
                alt=""
                class="img-fluid w-75"
              />
              <div>
                <h2>Misi</h2>
                <p class="load my-4">
                    Misi kami adalah untuk menyediakan sarana investasi pasar modal yang mudah, aman dan nyaman untuk pemula. Selain itu, Misi penting kami juga terbagi dalam 3 hal utama, yaitu:
                </p>
                <ol class="text-start">
                    <li>Meningkatkan literasi keuangan dengan meningkatkan edukasi dan kesadaran berinvestasi</li>
                    <li>Berkontribusi dalam suatu sistem pasar modal yang bekerja dengan baik dan inklusif</li>
                    <li>Berkontribusi untuk memperdalam pasar modal sehingga memperkuat platform penggalangan dana untuk perusahaan Indonesia</li>
                </ol>
              </div>
            </div>
  
          </div>
        </div>
  
        
      </div>
  
  </section>