<section class="text-dark p-5 text-sm-start" id="courses">
    <div class="container">
      <div class="text-start">
        <h2><span class="text-success">Artikel Investasi</span> untuk Anda</h2>
      </div>
      <div class="align-items-center">
          <div class="row g-4 mb-2 mt-2">

            <!-- artikel 1 -->
          <div class="col-md-4 d-flex align-items-stretch mt-3">
            <div class="card bg-success text-light">
              <img
                src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/1668414062484-3SOYVF728XQZV98HXGMV/short+selling+saham.png"
                class="img-fluid"
                alt="img1"
              />
  
              <div class="card-body">
                <div class="row g-4">
                  <div class="col-md-12">
                    <p>Nov 18, 2022</p>
                    <h5>Mengenal Mekanisme Short Selling Saham yang Masih Dilarang di Indonesia</h5>
                    <p>
                        Seperti yang diketahui, bahwa transaksi saham di pasar modal adalah melalui proses jual-beli. Namun, tidak hanya sebatas jual-beli saja, ada pula jenis transaksi lainnya yang dikenal dengan istilah margin trading dan short selling saham yang sebenarnya sangat mudah untuk dilakukan ...
                    </p>
                  </div>
                  <div class="col-md-12 text-center">
                    <button
                      type="button"
                      class="btn btn-light mt-auto align-self-start"
                      data-bs-toggle="modal"
                      data-bs-target="#showMoreModal"
                      style="width: 100%"
                    >
                      Lihat Selengkapnya <i class="bi bi-chevron-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- artikel 2 -->
          <div class="col-md-4 d-flex align-items-stretch mt-3">
            <div class="card bg-success text-light">
              <img
                src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/399efeb9-ade2-42a9-8d27-d31907bf0f3f/saham+blue+chip.png"
                class="img-fluid"
                alt="img1"
              />
  
              <div class="card-body">
                <div class="row g-4">
                  <div class="col-md-12">
                    <p>Nov 18, 2022</p>
                    <h5>Mengenal Saham Blue Chip : Pengertian, Kriteria dan Contohnya</h5>
                    <p>
                        Masih banyak anggapan yang salah tentang saham blue chip yang mengidentikan dengan saham pada indeks LQ45. Padahal, secara sederhana saham blue chip adalah emiten yang memiliki fundamental perusahaan yang baik ...
                    </p>
                  </div>
                  <div class="col-md-12 text-center">
                    <button
                      type="button"
                      class="btn btn-light mt-auto align-self-start"
                      data-bs-toggle="modal"
                      data-bs-target="#showMoreModal"
                      style="width: 100%"
                    >
                      Lihat Selengkapnya <i class="bi bi-chevron-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- artikel 3 -->
          <div class="col-md-4 d-flex align-items-stretch mt-3">
            <div class="card bg-success text-light">
              <img
                src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/861504da-b6b7-4b3e-85cf-22c94f2d527b/Header+Email.jpg"
                class="img-fluid"
                alt="img1"
              />
  
              <div class="card-body">
                <div class="row g-4">
                  <div class="col-md-12">
                    <p>Nov 18, 2022</p>
                    <h5>	
                        Analisis Matriks Fundamental Perusahaan Jadi Lebih Mudah!
                    </h5>
                    <p>
                        Seperti yang diketahui, bahwa transaksi saham di pasar modal adalah melalui proses jual-beli. Namun, tidak hanya sebatas jual-beli saja, ada pula jenis transaksi lainnya yang dikenal dengan istilah margin trading dan short selling saham ...
                    </p>
                  </div>
                  <div class="col-md-12 text-center">
                    <button
                      type="button"
                      class="btn btn-light mt-auto align-self-start"
                      data-bs-toggle="modal"
                      data-bs-target="#showMoreModal"
                      style="width: 100%"
                    >
                      Lihat Selengkapnya <i class="bi bi-chevron-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="showMoreBtn" class="d-grid col-lg-3 col md-6 mx-auto mt-4">
            <button
              class="btn btn-outline-success"
              type="button"
              onclick="onToggleShowMore()"
            >
              Show More
            </button>
          </div>

      </div>
    </div>
  </section>
  