<section class="p-5 text-sm-start" id="contact">
    <div class="container">
      <div class="row g-4 d-flex align-items-center">
        <!-- left -->
        <div class="col-md offset-md-2">
          <!-- contact info -->
          <table class="table mt-3">
            <thead class="text-center"><h3>Hubungi Kami</h3></thead>
            <tbody class="m-5">
              <tr>
                <td><strong>Lokasi:</strong> Menara Standard Chartered Lt. 33 Jl. Prof. Dr. Satrio No. 164, Kelurahan Karet Semanggi, Kecamatan Setiabudi Jakarta Selatan, 12930</td>
              </tr>
              <tr>
                <td><strong>Kontak Utama:</strong> Untuk segala pertanyaan dan masalah, kamu dapat mengunjungi pusat bantuan kami. Jika kamu membutuhkan bantuan lebih jauh, kamu dapat mengirimkan email ke support@stockbit.com.</td>
              </tr>
              <tr>
                <td><strong>Telepon:</strong> +62 21 50959-330</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- right -->
        <div class="col-md">
          <!-- map -->
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="400"
                height="400"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  